<section class="hero-banner">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 col-lg-12 col-xl-12 col-12 text-center">
				<h1 class="text-white hero-text">EXPLORE THE NEW RANGE</h1>
				<h2 class="text-white hero-text-secondary crimson-semibold mb-3">BEST PRICE, BEST SELECTION!</h2>
				<p class="gilmer-regular font-24 text-white">Get up to 20% off on New Arrivals</p>
			</div>
		</div>
	</div>
</section> <!-- product-slide -->